<!DOCTYPE html>
  <body>
    <div class="global-container">
      <header class="main-header">
        <h1 class="main-title">Allison Marino</h1>
        <figure class="upper-right-container">
          <img class="upper-right-image" <%= image_tag "Chinese-Passion.png" %> />
          <figcaption>Passion</figcaption>
        </figure>
        <div class="clear-float"></div>
      </header>

      <div class='main-content-container'>
        <figure class="main-image-container">
          <img class="grayscale main-image" <%= image_tag "Main-photo.jpg" %> />
        </figure>

        <div class="profile-content-container">
          <section>
            <h2>About Me</h2>
            <p>Hi my name is Allison Marino and welcome to my website. I am a Bay Area native with a background in fashion, sales, marketing, business administration and now web development. I received my BA in Fashion Merchandising from Seattle Pacific University. With degree in hand I felt very unprepared for the real world and how to use my education in my chosen field as a career. Feeling lost, I spent the past decade trying to find a career that fulfills me and my passions. Having been around programmers for the past several years and wanting to learn to code, I never knew where to start. That is until the day I discovered Dash by General Assembly, 3 days later I completed the whole program and was hooked. Coding gives me a great sense of accomplishment and has sparked something deep inside that I was not sure I would ever feel. Although I have not taken a traditional route to become a web developer, I think my diverse career path gives me a unique perspective. I have the drive, passion, and dedication to thrive. Learning to code online has been great as a start but is limited as I am not my own best teacher, an immersion program is the only way I am going to be able to make the switch to a career as a web developer. </p>
          </section>

            <h2>Interests and Hobbies</h2>
            <ul>
              <li>Biking, hiking, running</li>
              <li>Spending time with friends and family</li>
              <li>Traveling</li>
              <li>Camping</li>
            </ul>  
          </section>

          <div class="image-carousel-container">
            <div id="left-button">
            </div>
            <div id="right-button">
            </div>
            <div id="image-carousel" >

            </div>
          </div>
        </div><!-- profile-content-container end -->
      </div><!-- main-content-container end -->


      <footer class="main-footer">
        <figure class="lower-left-container">
          <img class="lower-left-image" <%= image_tag "Chinese-Strength.png" %>
          <figcaption>Strength</figcaption>
        </figure>
       
      
        <div class="footer-social-media-icons-container">
          <a href="http://www.facebook.com/allison.marino" class="facebook-icon icon" target="_blank"></a>
          <a href="https://github.com/amarino7" class="github-icon icon" target="_blank"></a>
          <a href="http://www.linkedin.com/pub/allison-marino/70/60b/49a/" class="linkedin-icon icon" target="_blank"></a>
          <a href="mailto:amarino_us@yahoo.com" class="mail-icon icon"></a>
        </div>

        <div class="clear-float"></div>
      </footer>
       
    </div>
  </body>

</html>