<!DOCTYPE html>
  <body>
    <div class="global-container">
      <header class="main-header">
        <h1 class="main-title">Allison Marino</h1>
        <div class="header-social-media-icons-container">
          <a href="mailto:amarino_us@yahoo.com" class="mail-icon icon"></a>
          <a href="https://github.com/amarino7" class="github-icon icon" target="_blank"></a>
          <a href="http://www.linkedin.com/pub/allison-marino/70/60b/49a/" class="linkedin-icon icon" target="_blank"></a>
          <a href="/assets/Resume.pdf" class="resume-icon icon" target="_blank"></a>
          
          
          
        </div>

        <div class="clear-float"></div>
      </header>

      <div class='main-content-container'>
        <figure class="main-image-container">
          <img class="grayscale main-image" <%= image_tag "profile_pic.jpg" %> />
        </figure>

        <div class="profile-content-container">
          <section>
            <h2>About Me</h2>
            <!-- <p>Hi my name is Allison Marino and welcome to my website. I am a Bay Area native with a background in fashion, sales, marketing, business administration and web development. I received my BA in Fashion Merchandising from Seattle Pacific University. With degree in hand I felt very unprepared for the real world and how to use my education in my chosen field as a career. Feeling lost, I spent the past decade trying to find a career that fulfills me and my passions. Having been around programmers for the past several years and wanting to learn to code, I never knew where to start. That is until the day I discovered Dash by General Assembly, 3 days later I completed the whole program and was hooked. Coding gives me a great sense of accomplishment and has sparked something deep inside that I was not sure I would ever feel. Although I have not taken a traditional route to become a web developer, I think my diverse career path gives me a unique perspective. I have the drive, passion, and dedication to thrive. Learning to code online has been great as a start but is limited as I am not my own best teacher, an immersion program is the only way I am going to be able to make the switch to a career as a web developer. </p> -->
            <p>After starting a career in sales and admin I decided to pursue a long held interest in learning how to code. I enrolled in General Assembly's three-month, full-time web development course to build my skills. I am excited to pursue a career in front-end or full-stack web development and and continue to learn new languages and skills while building great products. 
            </p>
            </section>
            </section>
						<h2>Skills:</h2>
						<ul><em>Languages:</em> JavaScript, Ruby, HTML, CSS</ul>
						<ul><em>Frameworks:</em> Node.js, Express, Rails, AngularJS</ul>
						<ul><em>Database Tools:</em> PostgreSQL, Sequelize, ActiveRecord</ul>
						<ul><em>Authorization:</em> Passport Local, Bcrypt</ul>
						<ul><em>Testing Frameworks:</em> Mocha, Chai, RSpec</ul>
						<ul><em>Other:</em> Git/GitHub, Heroku, jQuery, Bootstrap</ul>
						
          </section>

            <h2>Interests and Hobbies</h2>
            <ul>
              <li>Biking, hiking, running</li>
              <li>Spending time with friends and family</li>
              <li>Traveling</li>
              <li>Camping</li>
            </ul>  
          </section>

         <!--  <div class="image-carousel-container">
            <div id="left-button">
            </div>
            <div id="right-button">
            </div>
            <div id="image-carousel" >

            </div>
          </div> -->
        </div><!-- profile-content-container end -->
      </div><!-- main-content-container end -->
       
    </div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
		<script src="js/skrollr.js"></script>
		<script src="js/_main.js"></script>

  </body>

</html>